---
title: Vedúcovský "rázcestník"
---

<!DOCTYPE html>
<html lang="sk">
  <head>
    <meta charset="utf-8">
    <title>{{page.title}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="assets/style.css">
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-9310754-12"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-9310754-12');
    </script>
  </head>

  <body>
    <a href="{{site.github.repository_url}}"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://camo.githubusercontent.com/a6677b08c955af8400f44c6298f40e7d19cc5b2d/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f677261795f3664366436642e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_gray_6d6d6d.png"></a>
    <header>
      <img src="assets/logo.svg" alt='Vedúcovský "rázcestník" Trojstenu' />
    </header>

    <nav id="links">

      {% for link in site.data.links %}
        {% assign id = link[0], attr = link[1] %}
        <div class="link-button">
          <a class="link" id="{{link[0]}}"{% if link[1].url %} href="{{link[1].url}}"{% endif %}>
            <img alt="{{link[1].name}}" src="{{link[1].icon}}" />
            <h1>{{link[1].name}}</h1>
            <p class="url">{% if link[1].url %}{{link[1].url}}{% else %}Ešte neexistuje.{% endif %}</p>
          </a>
          {% if link[1].help %}<a class="help-button" title="README / pomoc / voľačo" href="{{link[1].help}}">?</a>{% endif %}
        </div>
      {% endfor %}

      <div class="link-button" style="border-style: dashed">
        <a class="link" id="add" href="https://github.com/AnotherKamila/veduci.trojsten.sk#ako-pridať-link">
          <img style="height: 100%" alt="+" src="assets/add.svg" />
          <h1 style="margin-top: 0.98em; font-size: 1.6em; font-weight: normal">Pridaj ďalší</h1>
        </a>
      </div>

    </nav>

  </body>
</html>
